.friendpage { 
	width: 100%;
	/*background: yellow;*/
}
.friendpage h1 { 
	font: 1.5em/1.3em sylfaen;
	color: #0092a8;
	padding-bottom: 20px;
}
.friendpage form {
	width: 100%;
	/*background: green;*/
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #eeeeee;
}
.friendpage form fieldset {
	border: 0px;
}

.friendpage form fieldset input[type=text] {
	width: 50%;
	border: 1px solid #bdbdbd;
	padding: 6px;
}

.friendpage form fieldset button {
	border: 1px solid #3092a0;
	background: #0c7585;
	padding: 6px;
}

.friendpage form fieldset legend {
	padding: 10px 0px 10px 0px; 
}

#showfriends {
	width: 100%;
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	overflow: hidden;
}

#showfriends div {
	width: 48%;
	height: 80px;
	float: left;
	overflow: hidden;
	font: 1.0em/1.3em arial, sylfaen;
	color: #0092a8;
	vertical-align: middle; 
}

#showfriends div a {	
	 color: #0092a8;
}

#showfriends div:nth-child(2n) {
	/*background: gold;*/
	padding: 0px;
	overflow: hidden;
	padding-left: 4%;
}

/*
ul.showfriends li:nth-child(n) {
	background: silver;
}
ul.showfriends li:nth-child(n+2) {
	background: gold;
	padding: 0px;
	overflow: hidden;
}
*/

#showfriends div img {
	float: left;
	padding-right: 10px; 
}