/* 
  Created on : Nov 9, 2013, 6:52:04 PM
  Author : George
*/

div.inner li.left {
   float: left;
}
li.right {
   float: right;	
   margin: 7px 5px 0px 10px;
   overflow: hidden;
}
li.right select {
	padding: 3px;
}
div.addwish-block {
    background: #c9cbc8;
	padding: 20px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
	background: white;
	border-radius: 5px;
}

div.inner div.user-photo {
    float: left;
    width: 205px;
    height: 220px;
}

div.inner div.delimiter {
    width: 0px;
	height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid gray;
    overflow: hidden;
}

div.inner div.user-photo img {
    padding: 2px;
    background: white;
    margin-top: 55px;
    margin-left: 40px;
}

div.inner div.user-quick-nav {
    overflow: hidden;
    background: none;
}

/* - add wish - */
div.inner div.add-wish {
	
}

div.add-wish h1 {
   font: 1.2em/1.3em sylfaen;
   padding: 0px 0px 15px 0px;
}
div.inner div.add-wish p {
    line-height: 45px;
    padding-right: 3px;
}
div.inner div.add-wish .full-width {
    width: 100%;
    overflow: hidden;
}

div.add-wish .full-width div {
	width: 100%; 
	overflow: hidden;
	padding-top: 10px;	
}
div.add-wish .full-width input[type=text]{
	width: 70%;
	border: 1px solid #aeaeae;
	padding: 5px;
	border-radius: 3px;
}
div.add-wish .full-width div label {
	display: block;	
	padding-bottom: 5px;
	font: 0.88em/1.3em sylfaen;
	color: #444444;
}
div.add-wish .full-width textarea {
	width: 70%;
	border: 1px solid #aeaeae;
	padding: 5px;
	border-radius: 5px;
}
ul.status-types {
	width: 100%;
	border-radius: 3px;
    overflow: hidden;
    background: #515151;
}

ul.status-types li {
    list-style: none;
    float: left;
	padding: 0px 5px 0px 0px;
	font: 0.88em/1.3em sylfaen;
}

ul.status-types li a {
	padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
	display: block;
}
ul.status-types li a.active {
    color: white;
	background: #a3a3a3;
}

textarea.status-box {
    width: 400px;
    height: 80px;
}

.post-status {
	padding: 5px 0px 5px 0px;
    border-top: 1px solid #e2e2e2; 
}
.post-status  select {
	padding: 3px;
}
.post-status button {
	border: 1px solid #e2e2e2; 
	background: #efecec;
	padding: 4px 5px 4px 5px;
}

.tab-content {
    
}

.tab-content .s-tab {
   display: none;
   width:100%;
	}

.tab-content .s-tab.open {
   display: block;
}

div.add-wish .full-width div.wish-message {
	margin: 0px;
	overflow: hidden;
	}
div.add-wish .full-width div.wish-message div {
	width: auto;
	background: #f8eded;
	border: 1px solid #eac7c7;
	font: 0.88em/1.4em sylfaen;
	padding: 5px;
	margin: 0px;
	overflow: hidden;
	color: #ad5f5f;
  }

.backtoprofile {
	padding-top: 10px;
	font: 0.88em/1.4em sylfaen;
	}
.backtoprofile a {
	color: #515151;
	}
.backtoprofile a:hover {
	text-decoration: underline;
}
/* - add wish : end - */