.heroGallery a { display:block; }
a.heroAlternate { display:none; }
.heroGallery { overflow:hidden; position:relative; z-index:10; }
.heroGallery #heroControlPanel { background:#fff; bottom:10px; padding:7px 0 7px 7px; position:absolute; right:9px; border:1px solid #ccc; }
.heroGallery .heroControlSwitch { position: relative; float:left; margin-right:7px; padding:1px 4px; background:#fff; border:1px solid #ccc; cursor:pointer; }
.heroGallery .heroControlSwitchActive { border-color:#aaa; }
.heroGallery .heroControlSwitchOverlay { position:absolute; top:-1px; left:-1px; height:17px; border:1px solid #ccc; border-right:0px; }
.heroGallery .heroControlSwitchLabel { display:block; font-size:11px; position:relative; z-index:10; color:#98052e; }

/*=etc */
.mainColumn { width: 750px; float: right; padding: 0px; border: 0px dotted gray;  /*background: yellow;*/ }
.mainColumn a img { border: 0px; }
.heroGallery { height: 330px; }

.secondColumn { width: 750px; margin-top: 5px; padding: 0px; border: 0px dotted gray;  /*background: yellow;*/ overflow: hidden;  }
.secondColumn div a img { padding: 2px; border: 1px dotted gray ; }
.img1 { width: 340px; padding-right: 13px;  float: left; }
.img2 { width: 340px; float: left; }
.thirdColumn { width: 730px; margin-top: 5px; padding: 8px; border: 1px dotted gray;  /*background: yellow;*/ overflow: hidden;  }
.thirdColumn div a img { padding: 2px; border: 1px dotted gray ; }
.img3 { width: 240px; float: left; padding-right: 10px; }
.img4 { width: 240px; float: left; padding-right: 10px; }
.img5 { width: 240px; float: left; }