#swfupload-control { width: 715px; padding: 10px 0px 10px 0px; }
#swfupload-control p { font-size:0.9em; }
#log {	
		margin: 0; 
		padding: 10px 0px 10px 0px; 
		width: 100%;
		overflow: hidden;
		}
#log li {
		width: 100px;
		list-style-type: none; 
		margin: 0px 2px 2px 0px; 		
		float: left;
		padding: 15px; 
		font-size: 12px; 
		font-family: Arial, Helvetica, sans-serif; 
		color:#333; 
		background:#e1e1e1; 
		border: 1px solid #cacaca;
		position: relative;
		overflow: hidden;
		}
#log li .uploadimage {  
		width: 100px; 
		padding-bottom: 10px; 
		}
#log li  .progressblock { 
							width: 100px; 
							height: 40px; 
							overflow: hidden; 
							}
#log li .progressbar { 
							width: 98px; 
							height: 20px; 
							border:1px solid #adadad; 										
							background: #fff; 
							overflow: hidden; 
							}
#log li .progress { 							
							width: 0%; 
							height: 25px; 
							background: #cacaca; 
							}
#log li .progressblock a { color: #085082; }
#log li p { 
			   margin: 0; 
			   line-height: 18px; 
			  }
#log li.success { 
							background: #f5f5f5; 
							border:1px solid #cacaca;
							}
#log li span.cancel {   
							position: absolute; 
							bottom: 0px; 
							right: 5px; 
							width: 25px; 
							height: 25px; 
							background:url('../swfupload/cancel.png') no-repeat; 
							cursor: pointer;								
							}

#uploadedpics {	
		margin: 0; 
		padding: 10px 0px 10px 0px; 
		width: 100%;
		overflow: hidden;
		}
#uploadedpics li {
		width: 100px;
		list-style-type: none; 
		margin: 0px 2px 2px 0px; 		
		float: left;
		padding: 15px; 
		font-size: 12px; 
		font-family: Arial, Helvetica, sans-serif; 
		color:#333; 
		background:#e1e1e1; 
		border: 1px solid #cacaca;
		position: relative;
		overflow: hidden;
		}
#uploadedpics li .uploadimage {  
		width: 100px; 
		padding-bottom: 10px; 
		}
#uploadedpics li  .progressblock { 
							width: 100px; 
							height: 40px; 
							overflow: hidden; 
							}
#uploadedpics li .progressbar { 
							width: 98px; 
							height: 20px; 
							border:1px solid #adadad; 										
							background: #fff; 
							overflow: hidden; 
							}
#uploadedpics li .progress { 							
							width: 0%; 
							height: 25px; 
							background: #cacaca; 
							}
#uploadedpics li .progressblock a { color: #085082; }
#uploadedpics li p { 
			   margin: 0; 
			   line-height: 18px; 
			  }
#uploadedpics li.success { 
							background: #f5f5f5; 
							border:1px solid #cacaca;
							}
#uploadedpics li span.cancel {   
							position: absolute; 
							bottom: 0px; 
							right: 5px; 
							width: 25px; 
							height: 25px; 
							/*background:url('../swfupload/cancel.png') no-repeat; */
							cursor: pointer;								
							}