html, body, form, fieldset, ul, ol, li { padding: 0px; margin: 0px; }
		.catblock { 
						   width: 300px; 
						   padding: 20px; 
						   background: #fff;
						   border: 1px solid #bababa;
						   border-radius: 10px;
						}
		.catblock h1 {
							font: 1.2em/1.3em verdana, sylfaen;	
		}
		.catblock fieldset { 
						border: 0px;
						font: 0.88em/1.3em verdana, sylfaen;
						color: #6e6e6e;
						/*background: yellow;*/
			}
		.catblock form label { 
						display: block;
						padding-bottom: 10px;
						}
				.catblock form input { 
						display: block;
						padding: 5px;
						width: 70%;
						border: 1px solid #c0c0c0;
						}
		.catblock form button {
						display: block;	
						margin-top: 10px;
						}
		.catcategories {
						list-style-type: none;
						}
		.catcategories li {
						font: 0.88em/1.3em verdana, sylfaen;
						color: #585959;
						padding-bottom: 5px;
						}
		.catcategories li a {
						text-decoration: none;
						color: #585959;
						font-weight: 700;
						}
		.catcategories li a:hover {
						text-decoration: underline;
						}
		.errcode { 
						margin-top: 10px;
						background: #f8e4e4;
						border: 1px solid #dfabab;
						font: 0.77em/1.3em verdana, sylfaen;
						padding: 5px;
						}	
				.succode { 
						margin-top: 10px;
						background: #ccf5e5;
						border: 1px solid #82bea7;
						font: 0.77em/1.3em verdana, sylfaen;
						padding: 5px;
						}